<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/side.css">
    <link rel="stylesheet" href="/css/product-mgmt.css">
    <title>사진관리</title>
    <script src="/js/plugins/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="main">

        <!-- side.html 추가하기 -->
        <div class="side"  th:replace="admin/side :: side"></div>

        <!-- 메인 시작 -->
        <div class="main-box">
            <!-- 페이지 제목 -->
            <div class="title">
                <h2>사진 관리</h2>
            </div>
            <!-- 페이지 제목 끝 -->

            <!-- 사진 관리 시작 -->
            <div class="st-list">
                <div class="list-main-box" style="gap: 10px;">
                    <span>현재 이미지</span>
                    <div>
                        <img th:src="@{'/files/display?filePath=' + ${fileInfo.filePath}}" alt="현재 이미지" style="width: 500px; height: 600px; border: 1px solid black;">
                    </div>
                    <input type="file" alt="이미지" accept=".png, .jpg, .jpeg" class="image-upload">
                    <input type="hidden" class="uuid">
                    <input type="hidden" class="file-path">
                    <div class="btn-area">
                        <button type="button" class="create">등록</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/js/image-mgmt.js"></script>
</html>