<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/side.css">
    <link rel="stylesheet" href="/css/product-mgmt.css">
    <link rel="stylesheet" href="/css/product-mgmt-modal.css">
    <title>상품관리</title>
    <script src="/js/plugins/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="main">

        <!-- side.html 추가하기 -->
        <div class="side"  th:replace="admin/side :: side"></div>

        <!-- 메인 시작 -->
        <div class="main-box">
            <!-- 페이지 제목 -->
            <div class="title">
                <h2>판매자 정보</h2>
            </div>
            <!-- 페이지 제목 끝 -->

            <input type="hidden" id="work-start-time"/>
            <input type="hidden" id="work-end-time"/>

            <!-- 사원 관리 시작 -->
            <div class="st-list">
                <!-- 사원 리스트 시작 -->
                <div class="list-main-box" style="padding: 225px 0; text-align: left;">
                    <form th:action="@{/admin/seller-update}" method="post" name="sellerForm" th:object="${sellerDTO}">
                        <div class="modal-major-content">
                            <div class="text">
                                <span class="user-text">이름</span>
                                <span class="user-text">전화번호</span>
                                <span class="user-text">은행</span>
                                <span class="user-text">계좌번호</span>
                                <span class="user-text">예금주</span>
                            </div>
                            <div class="text-input">
                                <input type="text" class="user-input" th:field="*{sellerName}">
                                <input type="text" class="user-input" th:field="*{sellerPhone}">
                                <input type="text" class="user-input" th:field="*{sellerAccountBank}">
                                <input type="text" class="user-input" th:field="*{sellerAccountNumber}">
                                <input type="text" class="user-input" th:field="*{sellerAccountOwner}">
                            </div>
                        </div>
                        <div class="modal-button">
                            <button type="submit" class="modal-btn" id="join-btn">수정</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>