<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/side.css">
    <link rel="stylesheet" href="../../static/css/product-mgmt.css">
    <link rel="stylesheet" href="../../static/css/product-mgmt-modal.css">
    <title>상품관리</title>
</head>
<body>
    <div class="main">

        <!-- side.html 추가하기 -->
        <div class="side"  th:replace="fragments/side :: side"></div>
        <!-- 사이드 시작 -->
        <div class="side-box">
            <!-- <div class="color_template">
                <span class="color_template_item">🎨</span>
                <div class="click_color">
                    <select class="template_color" name="template_color">
                        <option value="">default</option>
                        <option value="dark">Dark</option>
                        <option value="warm">warm</option>
                        <option value="earth">Earth</option>
                        <option value="vintage">Vintage</option>
                        <option value="cream">Cream</option>
                        <option value="coffee">Coffee</option>
                    </select>
                </div>
            </div> -->
    
            <ul class="content">
                <li class="listpage"><a href="">상품 관리</a></li>
                <li class="schedulepage"><a href="">설정</a></li>
                <li class="statisticspage"><a href="">판매자 정보</a></li>
                <!-- 이름, 전화번호, 계좌번호 -->
                <!-- <li class="adminpage"><a href="">관리자</a></li> -->
            </ul>
        </div>
        <!-- 사이드 끝 -->

        <!-- 메인 시작 -->
        <div class="main-box">
            <!-- 페이지 제목 -->
            <div class="title">
                <h2>판매자 정보</h2>
            </div>
            <!-- 페이지 제목 끝 -->

            <input type="hidden" id="work-start-time"/>
            <input type="hidden" id="work-end-time"/>

            <!-- 사원 관리 시작 -->
            <div class="st-list">
                <!-- 사원 리스트 시작 -->
                <div class="list-main-box" style="padding: 225px 0;">
                    <form action="" method="post" th:object="" name="joinForm">
                        <div class="modal-major-content">
                            <div class="text">
                                <span class="user-text">이름</span>
                                <span class="user-text">전화번호</span>
                                <span class="user-text">계좌번호</span>
                            </div>
                            <div class="text-input">
                                <input type="text" class="user-input" name="productKind">
                                <input type="text" class="user-input" name="productWeight">
                                <input type="text" class="user-input" name="productSize">
                            </div>
                        </div>
                        <div class="modal-button">
                            <button type="button" class="modal-btn" id="join-btn">수정</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>