<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/side.css">
    <title>사이드바</title>
</head>
<body>
    <div class="main2" th:fragment="side">
        <div class="side-box">
            <!-- <div class="color_template">
                <span class="color_template_item">🎨</span>
                <div class="click_color">
                    <select class="template_color" name="template_color">
                        <option value="">default</option>
                        <option value="dark">Dark</option>
                        <option value="warm">warm</option>
                        <option value="earth">Earth</option>
                        <option value="vintage">Vintage</option>
                        <option value="cream">Cream</option>
                        <option value="coffee">Coffee</option>
                    </select>
                </div>
            </div> -->
    
            <ul class="content">
                <li class="listpage"><a href="">외근 현황</a></li>
                <li class="schedulepage"><a href="">일정 관리</a></li>
                <li class="statisticspage"><a href="">통계</a></li>
                <li class="adminpage"><a href="">관리자</a></li>
            </ul>
        </div>
    </div>
</body>
</html>