<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/side.css">
    <title>사이드바</title>
</head>
<body>
    <div class="main2" th:fragment="side">
        <div class="side-box">
            <div class="logout-area" onclick="location.href='/order-history'">돌아가기</div>
            <div class="logout-area" onclick="location.href='/logout'">로그아웃</div>
            <!-- <div class="color_template">
                <span class="color_template_item">🎨</span>
                <div class="click_color">
                    <select class="template_color" name="template_color">
                        <option value="">default</option>
                        <option value="dark">Dark</option>
                        <option value="warm">warm</option>
                        <option value="earth">Earth</option>
                        <option value="vintage">Vintage</option>
                        <option value="cream">Cream</option>
                        <option value="coffee">Coffee</option>
                    </select>
                </div>
            </div> -->
    
            <ul class="content">
                <li class="product-mgmt">
                    <a href="/admin/product-mgmt">상품 관리</a>
                </li>
                <li class="image-mgmt">
                    <a href="/admin/image-mgmt">사진 관리</a>
                </li>
                <li class="seller-mgmt">
                    <a href="/admin/seller-mgmt">판매자 정보</a>
                </li>
            </ul>
        </div>
        <script src="/js/side.js"></script>
    </div>
</body>
</html>