<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="../../static/css/order.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>정드림</h1>
        </header>
        <div class="signup-form">
            <h2>주문하기</h2>
            <form>
                <div class="order-information-container">
                    <div class="form-group">
                        <label>이름</label>
                        <input type="text" placeholder="이름을 입력해주세요">
                        <span class="error-message">이름을 입력해주세요</span>
                    </div>
                    <div class="form-group">
                        <label>전화번호</label>
                        <input type="text" placeholder="전화번호를 입력해주세요(01012345678)">
                        <span class="error-message">전화번호를 입력해주세요</span>
                    </div>
                </div>
                <!-- 주문 반복 시작 -->
                <div class="receive-information-container">
                    <div class="order-plus-minus">
                        <span>주문</span>
                        <div class="img-container">
                            <img src="../../static/image/plus.png" alt="">
                            <img src="../../static/image/minus.png" alt="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>주소</label>
                        <div class='address-container'>
                            <input type="text" name='address' placeholder="주소를 찾아주세요" readOnly/>
                            <button type='button' class='find-address'>찾기</button>
                        </div>
                        <input type="text" name='addressDetail' placeholder="상세주소 입력"/>
                        <span class="error-message">주소를 찾은 후 상세주소를 입력해주세요</span>
                    </div>
                    <div class="form-group">
                        <label>사과 품종</label>
                        <select name="" id="">
                            <option value="">부사</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>사과 kg</label>
                        <select name="" id="">
                            <option value="">5kg</option>
                            <option value="">10kg</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>사과 호수</label>
                        <select name="" id="">
                            <option value="">특</option>
                            <option value="">1번</option>
                            <option value="">2번</option>
                            <option value="">3번</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>사과 수량</label>
                        <div class="count-wrap _count">
                            <button type="button" class="plus">+</button>
                            <input type="text" class="inp" value="1" />
                            <button type="button" class="minus">-</button>
                        </div>
                    </div>
                </div>
                <!-- 주문 반복 끝 -->

                <!-- 주문 반복 시작 -->
                <div class="receive-information-container">
                    <div class="order-plus-minus">
                        <span>주문</span>
                        <div class="img-container">
                            <img src="../../static/image/plus.png" alt="">
                            <img src="../../static/image/minus.png" alt="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>주소</label>
                        <div class='address-container'>
                            <input type="text" name='address' placeholder="주소를 찾아주세요" readOnly/>
                            <button type='button' class='find-address'>찾기</button>
                        </div>
                        <input type="text" name='addressDetail' placeholder="상세주소 입력"/>
                        <span class="error-message">주소를 찾은 후 상세주소를 입력해주세요</span>
                    </div>
                    <div class="form-group">
                        <label>사과 품종</label>
                        <select name="" id="">
                            <option value="">부사</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>사과 kg</label>
                        <select name="" id="">
                            <option value="">5kg</option>
                            <option value="">10kg</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>사과 호수</label>
                        <select name="" id="">
                            <option value="">특</option>
                            <option value="">1번</option>
                            <option value="">2번</option>
                            <option value="">3번</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>사과 수량</label>
                        <div class="count-wrap _count">
                            <button type="button" class="plus">+</button>
                            <input type="text" class="inp" value="1" />
                            <button type="button" class="minus">-</button>
                        </div>
                    </div>
                </div>
                <!-- 주문 반복 끝 -->

                <!-- 주문 반복 시작 -->
                <div class="receive-information-container">
                    <div class="order-plus-minus">
                        <span>주문</span>
                        <div class="img-container">
                            <img src="../../static/image/plus.png" alt="">
                            <img src="../../static/image/minus.png" alt="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>주소</label>
                        <div class='address-container'>
                            <input type="text" name='address' placeholder="주소를 찾아주세요" readOnly/>
                            <button type='button' class='find-address'>찾기</button>
                        </div>
                        <input type="text" name='addressDetail' placeholder="상세주소 입력"/>
                        <span class="error-message">주소를 찾은 후 상세주소를 입력해주세요</span>
                    </div>
                    <div class="form-group">
                        <label>사과 품종</label>
                        <select name="" id="">
                            <option value="">부사</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>사과 kg</label>
                        <select name="" id="">
                            <option value="">5kg</option>
                            <option value="">10kg</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>사과 호수</label>
                        <select name="" id="">
                            <option value="">특</option>
                            <option value="">1번</option>
                            <option value="">2번</option>
                            <option value="">3번</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>사과 수량</label>
                        <div class="count-wrap _count">
                            <button type="button" class="plus">+</button>
                            <input type="text" class="inp" value="1" />
                            <button type="button" class="minus">-</button>
                        </div>
                    </div>
                </div>
                <!-- 주문 반복 끝 -->

                <div class="form-group">
                    <h3>주문 총 3개</h3>
                    <span>총 가격 : <span>180000</span> 원</span>
                </div>
                <input type="checkbox" name="" id=""><span>개인정보 제공에 동의합니다</span>
                <button type="button" class="submit-button">제출하기</button>
            </form>
        </div>
    </div>
</body>
</html>
