<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문 완료</title>
</head>
<body>
    <div class="container">
        <div class="comment">
            주문이 완료되었습니다
            사과는 수확하는대로 배송 예정입니다
        </div>
        <div class="pay-information">
            <span>총 금액 : </span><span>180000원</span>
            <span>결제계좌 : 농협 302-0627-2628-61 정재하</span>
        </div>
        <a href="" class="">주문 내역 보기</a>
    </div>
</body>
</html>