body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.comment {
    text-align: center;
}

.btn-area {
    width: 75%;
    margin: 0 auto;
}

.btn-area div {
    text-align: center;
    background-color: #336699;
    color : white;
    font-family: cafe24air;
    border: 0;
    padding: 10px;
    border-radius: 7px;
    cursor: pointer;
    margin-bottom: 20px;
}

.btn-area a {
    
}
