body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

a {
    color: #666;
    text-decoration: none;
}

div {
    display: block;
}

/* #wrapper {
    position: relative;
    width: 100%;
    min-width: 1100px;
} */

#container {
    width: 95%;
    padding-bottom: 120px;
    margin: 0 auto;
}

@media (max-width: 1530px) {
    #container {
        width: 100%;
        margin: 0;
    }

    .notice-comment {
        font-size: 13px !important;
    }
}

.close-container {
    display: flex;
    flex-direction: row-reverse;
}

.close-container span {
    font-size: 30px;
    cursor: pointer;
}

.history-title {
    margin-bottom: 60px;
    border-bottom: 3px solid #e5e5e5;
}

.history-title h1 {
    height: 50px;
    text-align: center;
    font-size: 32px;
    line-height: 33px;
    color: #332f21;
}

.go-to {
    display: flex;
    justify-content: space-between;
}

.notice-comment {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: bold;
    color: #666;
}

.inquiry-number {
    font-size: 20px;
}

.search-area {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

/* .caution > li {
    position: relative;
    padding-left: 8px;
    line-height: 22px;
    word-break: keep-all;
    color: #666;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    font-size: 13px;
} */

.history-list {
    width: 100%;
    border-top: 2px solid #828282;
    border-bottom: 1px solid #d9d9d9;
    table-layout: fixed;
    border-top-color: #828282;
    border-bottom: 2px solid #828282;
}

caption {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    font-size: 0;
    line-height: 0;
}

colgroup {
    display: table-column-group;
}

table {
    border-collapse: collapse;
    border-spacing: 0 !important;
    text-indent: initial;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    cursor: pointer;
}

.history-list thead th {
    height: 50px;
    line-height: 50px;
    font-size: 15px;
    border-bottom: 1px solid #828282;
    text-align: center;
    color: #332f21;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.history-list tbody tr:first-child td {
    border-top: 0;
}

.history-list tbody td:first-child {
    border-left-width: 0;
}

.history-list tbody td {
    padding: 20px 0;
}

.history-list tbody td {
    padding: 16px 0 15px;
    border-top: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
    line-height: 18px;
    text-align: center;
}

.history-content {
    position: relative;
    padding-left: 13px;
    margin-top: 3px;
    font-family: 'ns';
    font-size: 12px;
    color: #939393;
}

.search {
    background-color: gray;
    color: white;
    font-family: cafe24air;
    font-size: 12px;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}

.excel-download {
    background-color: #3caf39;
    color: white;
    font-family: cafe24air;
    font-size: 12px;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}

.excel-download:hover {
    background-color: #2f882c;
}

.modal {
    display: none;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    z-index: 1000;
    overflow-y: auto;
    max-height: 100vh;
}

.modal-content {
    background: white;
    border-radius: 8px;
    width: 25%;
    max-width: 90%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.container {
    width: 100%;
}