body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

button {
    cursor: pointer;
}

h3 {
    text-align: center;
}

.container {
    background-color: white;
    width: 25%;
    /* width: 350px; */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
    body {
        background-color: white;
    }

    .container {
        width: 100%;
        padding: 10px;
        box-shadow: none;
    }
}

header h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
}

.explain-image {
    width: 100%;
}

.signup-form h2 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.form-group input, .form-group select {
    width: 94%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.form-group select {
    width: 100%;
}

.form-group input:focus {
    border-color: #000;
    outline: none;
}

.error-message {
    color: #ff0000;
    font-size: 12px;
    margin-top: 5px;
    display: none;
}

.receive-information-container {
    border-top: solid 1px black;
    padding: 10px 0px;
    margin: 15px 0px;
}

.order-plus-minus {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.img-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
}

.img-container span {
    font-size: 15px;
}

.img-container img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.plus-img, .minus-img {
    cursor: pointer;
    border: solid 1px black;
    border-radius: 3px;
}

.address-container {
    display: flex;
}

.find-address {
    background-color: black;
    color: white;
    border: solid 1px white;
    cursor: pointer;
    width: 15%;
    border-radius: 3px;
}

.count-wrap {
    position: relative;
    padding: 0 38px;
    border: 1px solid #ddd;
    overflow: hidden;
    width: 60px;
}

.count-wrap > button {
    border: 0;
    background: #ddd;
    color: #000;
    width: 38px;
    height: 38px;
    position: absolute;
    top: 0;
    font-size: 12px;
}

.count-wrap > button.minus {
    left: 0;
    font-size: 20px;
}

.count-wrap > button.plus {
    right: 0;
    font-size: 20px;
}

.count-wrap .input {
    border: 0;
    height: 18px;
    text-align: center;
    display: block;
    width: 70%;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #f47677;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.notice {
    font-size: 12px;
    color: #666;
    text-align: center;
    margin-top: 15px;
}
