<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문자 확인</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    <div class="main">
        <div class="center">
        <h2>주문자 확인</h2>
        <div class="login-box">
            <div class="id-box">
                <img src="../static/image/header.png"><input type="text" placeholder="주문자 이름을 입력해주세요." name="name" class="member_id" autofocus>
            </div>
            <div class="pw-box">
                <img src="../static/image/klipartz.com.png"><input type="password" placeholder="주문자 전화번호를 입력해주세요." name="phoneNumber" class="member_password">
            </div>
            <button type="button" class="loginok">내역확인</button>
        </div>
    </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="/js/login.js"></script>
</html>