<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문 내역</title>
    <link rel="stylesheet" href="/css/order-history.css">
</head>
<body>
    <div id="container">
        <div class="history-title">
            <a href="/logout">메인으로</a>
            <h1>주문 내역</h1>
        </div>
        <div class="search-area">
<!--            <select name="ordererName" id="">-->
<!--                <option value="">구매자</option>-->
<!--                <option value="">정현진</option>-->
<!--                <option value="">정재갑</option>-->
<!--            </select>-->
            <input type="date" name="startDate" id="start-date">~
            <input type="date" name="endDate" id="end-date">
            <button type="button" class="search">검색</button>
            <button type="button" class="excel-download" th:if="${session.admin == 'y'}">엑셀 다운로드</button>
        </div>
        <table class="history-list">
            <caption>주문결제 내역 목록</caption>
            <colgroup>
                <col width="5%">
                <col width="5%">
                <col width="8%">
                <col width="8%">
                <col width="5%">
                <col width="8%">
                <col width="30%">
                <col width="5%">
                <col width="5%">
                <col width="10%">
                <col width="5%">
                <col width="10%">
            </colgroup>
            <thead>
                <tr>
                    <th scope="col">주문번호</th>
                    <th scope="col">구매자</th>
                    <th scope="col">구매자 전화번호</th>
                    <th scope="col">주문일</th>
                    <th scope="col">수령자</th>
                    <th scope="col">수령자 전화번호</th>
                    <th scope="col">주소</th>
                    <th scope="col">품종</th>
                    <th scope="col">kg</th>
                    <th scope="col">규격</th>
                    <th scope="col">수량</th>
                    <th scope="col">가격</th>
                </tr>
            </thead>
            <tbody class="list-container">
                <!-- <tr>
                    <td colspan="5">+++ 주문내역이 없습니다 +++</td>
                </tr> -->
            </tbody>
        </table>
    </div>
</body>
<script src="/js/plugins/jquery-3.6.0.min.js"></script>
<script th:inline="javascript">
    let orderList = [[${orderList}]];
</script>
<script src="/js/order-history.js"></script>
</html>