<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문 내역</title>
    <link rel="stylesheet" href="/css/order.css">
    <link rel="stylesheet" href="/css/order-history.css">
</head>
<body>
    <div id="container">
        <div class="history-title">
            <a href="/logout">메인으로</a>
            <h1>주문 내역</h1>
        </div>
        <div class="search-area">
<!--            <select name="ordererName" id="">-->
<!--                <option value="">구매자</option>-->
<!--                <option value="">정현진</option>-->
<!--                <option value="">정재갑</option>-->
<!--            </select>-->
            <input type="date" name="startDate" id="start-date">~
            <input type="date" name="endDate" id="end-date">
            <button type="button" class="search">검색</button>
            <button type="button" class="excel-download" th:if="${session.admin == 'y'}">엑셀 다운로드</button>
        </div>
        <table class="history-list">
            <caption>주문결제 내역 목록</caption>
            <colgroup>
                <col width="5%">
                <col width="5%">
                <col width="8%">
                <col width="8%">
                <col width="5%">
                <col width="8%">
                <col width="30%">
                <col width="5%">
                <col width="5%">
                <col width="10%">
                <col width="5%">
                <col width="10%">
            </colgroup>
            <thead>
                <tr>
                    <th scope="col">주문번호</th>
                    <th scope="col">구매자</th>
                    <th scope="col">구매자 전화번호</th>
                    <th scope="col">주문일</th>
                    <th scope="col">수령자</th>
                    <th scope="col">수령자 전화번호</th>
                    <th scope="col">주소</th>
                    <th scope="col">품종</th>
                    <th scope="col">kg</th>
                    <th scope="col">규격</th>
                    <th scope="col">수량</th>
                    <th scope="col">가격</th>
                </tr>
            </thead>
            <tbody class="list-container">
                <!-- <tr>
                    <td colspan="5">+++ 주문내역이 없습니다 +++</td>
                </tr> -->
            </tbody>
        </table>
    </div>

<!-- 모달 시작 -->
    <div class="modal">
        <div class="modal-container">
            <div class="modal-content">
                <div class="container">
                    <div class="signup-form">
                        <h2>수정하기</h2>
                        <div class="order-information-container">
                            <input type="hidden" name="orderId">
                            <div class="form-group">
                                <label>주문자 이름</label>
                                <input type="text" name="ordererName" placeholder="이름을 입력해주세요">
                                <span class="error-message">이름을 입력해주세요</span>
                            </div>
                            <div class="form-group">
                                <label>주문자 전화번호</label>
                                <input type="text" name="ordererPhone" placeholder="전화번호를 입력해주세요" maxlength="13">
                                <span class="error-message">전화번호를 입력해주세요</span>
                            </div>
                        </div>
                        <div class="receive-informations">
                            <!-- 주문 반복 시작 -->
                            <div class="receive-information-container">
                                <div class="order-plus-minus">
                                    <span>주문</span>
                                    <div class="img-container">
                                        <span>주문자 정보와 동일</span><input type="checkbox" name="samePerson" id="same-person">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>수신자 이름</label>
                                    <input type="text" name="receiverName" placeholder="이름을 입력해주세요">
                                    <span class="error-message">이름을 입력해주세요</span>
                                </div>
                                <div class="form-group">
                                    <label>수신자 전화번호</label>
                                    <input type="text" name="receiverPhone" placeholder="전화번호를 입력해주세요" maxlength="13">
                                    <span class="error-message">전화번호를 입력해주세요</span>
                                </div>
                                <div class="form-group">
                                    <label>주소</label>
                                    <input type="text" name="postcode" class="postcode" placeholder="우편번호" readonly>
                                    <div class="address-container">
                                        <input type="text" name="address" placeholder="주소를 찾아주세요" readOnly/>
                                        <button type="button" class="find-address">찾기</button>
                                    </div>
                                    <input type="text" name="addressDetail" placeholder="상세주소 입력"/>
                                    <span class="error-message">주소를 찾은 후 상세주소를 입력해주세요</span>
                                </div>
                                <div class="form-group">
                                    <label>사과 품종</label>
                                    <select name="kind" id="kind">
                                        <option value="">품종을 골라주세요</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>사과 kg</label>
                                    <select name="weight" id="weight">
                                        <option value="">kg을 골라주세요</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>사과 규격</label>
                                    <select name="size" id="size">
                                        <option value="">규격을 골라주세요</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>사과 수량</label>
                                    <div class="count-wrap _count">
                                        <button type="button" class="minus">-</button>
                                        <input type="text" name="amount" class="input" value="1" />
                                        <button type="button" class="plus">+</button>
                                    </div>
                                </div>
                            </div>
                            <!-- 주문 반복 끝 -->
                        </div>
                        <button type="button" class="submit-button">수정하기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- 모달 끝 -->
</body>
<script src="/js/plugins/jquery-3.6.0.min.js"></script>
<script th:inline="javascript">
    let orderList = [[${orderList}]];
    let productInfoKinds = [[${productInfoKinds}]];
</script>
<script src="/js/order-history.js"></script>
<script src="/js/modal-update.js"></script>
</html>